* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
    font-family: cursive;
}



header {
    display: block;
    position: sticky;
    background: linear-gradient(45deg, rgb(236, 244, 126) 2%, rgb(10, 117, 12) 80%);
    text-align: center;
}
h1 {
padding: 1em;
}

.nav {
    overflow: hidden;
    background-color: #333333;
    position: sticky;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    float: left;
}

.nav a.active, .nav a:hover {
    background-color: #5a5b5e;
}


/* .container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: none;
    grid-auto-rows: auto;
    grid-gap: 20px;
} */


.side {

    text-align: center;
    background-color: #f8eded;
    width: 20vh;
    height: 150vh;
    border-right: 1px solid #d1d1d6;
}

.li-top {
    padding: 1.5em;
}

.listItem {
    line-height: 2.5rem;
    display: flex-start;
}
.listItem a {
    text-decoration: none;
}
.listItem a:hover {
    text-decoration: underline;
}
.feed {
bottom: 0;
}


footer {
    position: fixed bottom;

    background: linear-gradient(45deg, rgb(236, 244, 126) 2%, rgb(10, 117, 12) 80%);
    text-align: center;
    padding: 20px;
    color: white;
}